In [190]:
import pymongo
import pandas as pd
from pymongo import MongoClient

In [191]:
# To access the data from mongo DB cloud and load it to dataframe
client = MongoClient()
#point the client at mongo URI
client = MongoClient('mongodb+srv://dabteam:dab@cluster0.tqgtu.mongodb.net/test')
#select database
db = client['DAB_DATABASES']
#select the collection within the database
test = db.menu_information
#convert entire collection to Pandas dataframe
data_3 = pd.DataFrame(list(test.find()))

In [192]:
print(data_3)

                            _id  index menu_item_id  year  \
0      606f39dbbcfc84286485b9b2     28       170088  2018
1      606f39dbbcfc84286485b9b6     32       150029  2018
2      606f39dbbcfc84286485b9ba     36       112744  2018
3      606f39dbbcfc84286485b9c3     45       150043  2018
4      606f39dbbcfc84286485b9c4     46       170037  2018
...                         ...    ...          ...   ...
65214  606f39dcbcfc84286486b81b  65157        25767  2017
65215  606f39dcbcfc84286486b828  65170         3216  2017
65216  606f39dcbcfc84286486b83a  65188        64607  2017
65217  606f39dcbcfc84286486b841  65195        25774  2017
65218  606f39dcbcfc84286486b856  65216        64609  2017

                      restaurant_item_name restaurant restaurant_id  \
0             7 Eleven Caesar Entree Salad   7 Eleven             1
1                    7 Eleven Cheeseburger   7 Eleven             1
2      7 Eleven Chicken Caesar Pasta Salad   7 Eleven             1
3        7 Eleven Classic Chicken Sandwich   7 Eleven             1
4               7 Eleven Coca-Cola Slurpee   7 Eleven             1
...                                    ...        ...           ...
65214                Zaxby's Roma Tomatoes    Zaxby's            93
65215          Zaxby's Sweet & Spicy Glaze    Zaxby's            93
65216        Zaxby's The Cobb Salad, Fried    Zaxby's            93
65217             Zaxby's Tomato, 2 Slices    Zaxby's            93
65218              Zaxby's Zax Sauce, Kidz    Zaxby's            93

                        item_name  \
0             Caesar Entree Salad
1                    Cheeseburger
2      Chicken Caesar Pasta Salad
3        Classic Chicken Sandwich
4               Coca-Cola Slurpee
...                           ...
65214               Roma Tomatoes
65215         Sweet & Spicy Glaze
65216       The Cobb Salad, Fried
65217            Tomato, 2 Slices
65218             Zax Sauce, Kidz

                                        item_description  \
0      Caesar Entree Salad w/ Romaine Lettuce, White ...
1      Cheeseburger w/ 1/4 lb Beef Patty & American C...
2               Chicken Caesar Pasta Salad, Salads, Food
3      Classic Chicken Sandwich w/ White Meat Chicken...
4      Coca-Cola Slurpee, Slurpee Flavors, Late Night...
...                                                  ...
65214                        Roma Tomatoes, Zalads, 2 oz
65215  Sweet & Spicy Glaze, Extra Sauce & Dressing, S...
65216  The Cobb Salad w/ 4 Chicken Fingers, 1 Piece T...
65217  Tomato, 2 Slices, for Chicken Salad Sandwich M...
65218  Zax Sauce, for Kiddie Nibbler & Chicken Finger...

                food_category  ... protein_text potassium potassium_100g  \
0                      Salads  ...          NaN       NaN            NaN
1                     Burgers  ...          NaN       NaN            NaN
2                     Entrees  ...          NaN       NaN            NaN
3                  Sandwiches  ...          NaN       NaN            NaN
4                   Beverages  ...          NaN       NaN            NaN
...                       ...  ...          ...       ...            ...
65214  Toppings & Ingredients  ...          NaN       NaN            NaN
65215  Toppings & Ingredients  ...          NaN       NaN            NaN
65216                  Salads  ...          NaN       NaN            NaN
65217  Toppings & Ingredients  ...          NaN       NaN            NaN
65218  Toppings & Ingredients  ...          NaN       NaN            NaN

      serving_size_text calories_text total_fat_text saturated_fat_text  \
0                   NaN           NaN            NaN                NaN
1                   NaN           NaN            NaN                NaN
2                   NaN           NaN            NaN                NaN
3                   NaN           NaN            NaN                NaN
4                   NaN           NaN            NaN                NaN
...                 ...           ...            ...                ...
65214               NaN           NaN            NaN                NaN
65215               NaN           NaN            NaN                NaN
65216               NaN           NaN            NaN                NaN
65217               NaN           NaN            NaN                NaN
65218               NaN           NaN            NaN                NaN

      sodium_text trans_fat_text potassium_text
0             NaN            NaN            NaN
1             NaN            NaN            NaN
2             NaN            NaN            NaN
3             NaN            NaN            NaN
4             NaN            NaN            NaN
...           ...            ...            ...
65214         NaN            NaN            NaN
65215         NaN            NaN            NaN
65216         NaN            NaN            NaN
65217         NaN            NaN            NaN
65218         NaN            NaN            NaN

[65219 rows x 51 columns]

In [193]:
#import seaborn as sns
#sns.heatmap(data_3.isnull(), cmap='viridis')

In [194]:
data3_reduce=pd.DataFrame(data_3)

In [195]:
#data3_reduce.isnull().sum()

In [196]:
data3_remove = data3_reduce.drop(['_id','index','menu_item_id','year','restaurant_id','item_name','item_description','serving_size_text','serving_size','serving_size_unit','serving_size_household','calories','total_fat','saturated_fat','trans_fat','cholesterol','sodium','potassium','carbohydrates','protein','sugar','dietary_fiber','calories_text','total_fat_text','saturated_fat_text','trans_fat_text','cholesterol_text','sodium_text','potassium_text','carbohydrates_text','protein_text','sugar_text','dietary_fiber_text'],axis=1)
#data3_remove

In [197]:
data3_remove.isnull().sum()

restaurant_item_name        0
restaurant                  0
food_category               0
kids_meal                   0
limited_time_offer          0
regional                    0
shareable                   0
calories_100g           39341
total_fat_100g          39533
saturated_fat_100g      39934
trans_fat_100g          41391
cholesterol_100g        40093
sodium_100g             39366
carbohydrates_100g      39627
protein_100g            39688
sugar_100g              40012
dietary_fiber_100g      39828
potassium_100g          64596
dtype: int64

In [198]:
data3_remove.drop(['potassium_100g'],axis=1, inplace= True)
data3_remove

,restaurant_item_name,restaurant,food_category,kids_meal,limited_time_offer,regional,shareable,calories_100g,total_fat_100g,saturated_fat_100g,trans_fat_100g,cholesterol_100g,sodium_100g,carbohydrates_100g,protein_100g,sugar_100g,dietary_fiber_100g
0,7 Eleven Caesar Entree Salad,7 Eleven,Salads,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7 Eleven Cheeseburger,7 Eleven,Burgers,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7 Eleven Chicken Caesar Pasta Salad,7 Eleven,Entrees,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7 Eleven Classic Chicken Sandwich,7 Eleven,Sandwiches,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7 Eleven Coca-Cola Slurpee,7 Eleven,Beverages,0,0,0,0,29,0,0,0,0,3,8,0,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65214,Zaxby's Roma Tomatoes,Zaxby's,Toppings & Ingredients,0,0,0,0,13,0,0,NaN,0,25,3,0,3,0
65215,Zaxby's Sweet & Spicy Glaze,Zaxby's,Toppings & Ingredients,0,0,0,0,194,3,0,NaN,0,694,44,0,39,0
65216,"Zaxby's The Cobb Salad, Fried",Zaxby's,Salads,0,0,0,0,165,9,3,NaN,74,464,9,11,1,1
65217,"Zaxby's Tomato, 2 Slices",Zaxby's,Toppings & Ingredients,0,0,0,0,0,0,0,NaN,0,0,4,0,4,0
65218,"Zaxby's Zax Sauce, Kidz",Zaxby's,Toppings & Ingredients,1,0,0,0,429,43,7,NaN,36,1500,14,0,7,0

In [200]:
data3_remove.isnull().sum()

restaurant_item_name        0
restaurant                  0
food_category               0
kids_meal                   0
limited_time_offer          0
regional                    0
shareable                   0
calories_100g           39341
total_fat_100g          39533
saturated_fat_100g      39934
trans_fat_100g          41391
cholesterol_100g        40093
sodium_100g             39366
carbohydrates_100g      39627
protein_100g            39688
sugar_100g              40012
dietary_fiber_100g      39828
dtype: int64

In [201]:
data3_remove.duplicated().sum()

9979

In [202]:
data3_reduce = data3_remove.drop_duplicates()

In [203]:
data3_reduce

,restaurant_item_name,restaurant,food_category,kids_meal,limited_time_offer,regional,shareable,calories_100g,total_fat_100g,saturated_fat_100g,trans_fat_100g,cholesterol_100g,sodium_100g,carbohydrates_100g,protein_100g,sugar_100g,dietary_fiber_100g
0,7 Eleven Caesar Entree Salad,7 Eleven,Salads,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7 Eleven Cheeseburger,7 Eleven,Burgers,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7 Eleven Chicken Caesar Pasta Salad,7 Eleven,Entrees,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7 Eleven Classic Chicken Sandwich,7 Eleven,Sandwiches,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7 Eleven Coca-Cola Slurpee,7 Eleven,Beverages,0,0,0,0,29,0,0,0,0,3,8,0,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65214,Zaxby's Roma Tomatoes,Zaxby's,Toppings & Ingredients,0,0,0,0,13,0,0,NaN,0,25,3,0,3,0
65215,Zaxby's Sweet & Spicy Glaze,Zaxby's,Toppings & Ingredients,0,0,0,0,194,3,0,NaN,0,694,44,0,39,0
65216,"Zaxby's The Cobb Salad, Fried",Zaxby's,Salads,0,0,0,0,165,9,3,NaN,74,464,9,11,1,1
65217,"Zaxby's Tomato, 2 Slices",Zaxby's,Toppings & Ingredients,0,0,0,0,0,0,0,NaN,0,0,4,0,4,0
65218,"Zaxby's Zax Sauce, Kidz",Zaxby's,Toppings & Ingredients,1,0,0,0,429,43,7,NaN,36,1500,14,0,7,0

In [218]:
data3_rm = data3_reduce.dropna(how='any', thresh= 11)

In [219]:
data3_rm

,restaurant_item_name,restaurant,food_category,kids_meal,limited_time_offer,regional,shareable,calories_100g,total_fat_100g,saturated_fat_100g,trans_fat_100g,cholesterol_100g,sodium_100g,carbohydrates_100g,protein_100g,sugar_100g,dietary_fiber_100g
4,7 Eleven Coca-Cola Slurpee,7 Eleven,Beverages,0,0,0,0,29,0,0,0,0,3,8,0,8,0
10,7 Eleven Wild Cherry Slurpee,7 Eleven,Beverages,0,0,0,0,29,0,0,0,0,3,8,0,8,0
18,"Applebee's Caffeine Free Coca Cola, 16 oz",Applebee's,Beverages,0,0,0,0,22,0,0,0,0,0,6,0,6,0
34,"Applebee's Caffeine Free Diet Coke, 16 oz",Applebee's,Beverages,0,0,0,0,0,0,0,0,0,2,0,0,0,0
79,7 Eleven Cotton Candy Slurpee,7 Eleven,Beverages,0,0,0,0,29,0,0,0,0,3,7,0,7,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65214,Zaxby's Roma Tomatoes,Zaxby's,Toppings & Ingredients,0,0,0,0,13,0,0,NaN,0,25,3,0,3,0
65215,Zaxby's Sweet & Spicy Glaze,Zaxby's,Toppings & Ingredients,0,0,0,0,194,3,0,NaN,0,694,44,0,39,0
65216,"Zaxby's The Cobb Salad, Fried",Zaxby's,Salads,0,0,0,0,165,9,3,NaN,74,464,9,11,1,1
65217,"Zaxby's Tomato, 2 Slices",Zaxby's,Toppings & Ingredients,0,0,0,0,0,0,0,NaN,0,0,4,0,4,0
65218,"Zaxby's Zax Sauce, Kidz",Zaxby's,Toppings & Ingredients,1,0,0,0,429,43,7,NaN,36,1500,14,0,7,0

In [224]:
data3_imputation = data3_rm[['carbohydrates_100g', 'dietary_fiber_100g']]

In [225]:
#using KNN algorithm to fill the null values in the test_new dataframe,which contains only numerical data columns
import numpy as np
from sklearn.impute import KNNImputer
import pandas as pd
imputer = KNNImputer(n_neighbors=2)
data3_imputed = imputer.fit_transform(data3_imputation)

In [226]:
data3_imputed

array([[ 8.,  0.],
       [ 8.,  0.],
       [ 6.,  0.],
       ...,
       [ 9.,  1.],
       [ 4.,  0.],
       [14.,  0.]])

In [227]:
data3_af_imputed=pd.DataFrame(data3_imputed,columns=['carbohydrates_100g', 'dietary_fiber_100g'])

In [255]:
data3_af_imputed

       carbohydrates_100g  dietary_fiber_100g
0                     8.0                 0.0
1                     8.0                 0.0
2                     6.0                 0.0
3                     0.0                 0.0
4                     7.0                 0.0
...                   ...                 ...
23060                 3.0                 0.0
23061                44.0                 0.0
23062                 9.0                 1.0
23063                 4.0                 0.0
23064                14.0                 0.0

[23065 rows x 2 columns]

In [229]:
#data3_af_imputed.to_csv(r'R:\pol.csv', index=False)

In [235]:
# df.fillna(df.mean())
data3_imputation_2 = data3_rm[['calories_100g', 'total_fat_100g','sodium_100g','protein_100g']]

In [243]:
data3_imputation_2

      calories_100g total_fat_100g sodium_100g protein_100g
4                29              0           3            0
10               29              0           3            0
18               22              0           0            0
34                0              0           2            0
79               29              0           3            0
...             ...            ...         ...          ...
65214            13              0          25            0
65215           194              3         694            0
65216           165              9         464           11
65217             0              0           0            0
65218           429             43        1500            0

[23065 rows x 4 columns]

In [244]:
data3_imputation_2.isnull().sum()

calories_100g     0
total_fat_100g    0
sodium_100g       0
protein_100g      0
dtype: int64

In [238]:
# fill missing values with mean column values
#data3_imputed_2 = data3_imputation_2.fillna(data3_imputation_2.mean(), inplace=True)
#data3_imputation_2.fillna(method ='pad',implace=True)

In [242]:
data3_imputation_2 = data3_imputation_2.fillna(method ='bfill')

In [245]:
data3_imputation_2.isnull().sum()
#data3_imputed_2

calories_100g     0
total_fat_100g    0
sodium_100g       0
protein_100g      0
dtype: int64

In [256]:
data3_imputation_2

      calories_100g total_fat_100g sodium_100g protein_100g
4                29              0           3            0
10               29              0           3            0
18               22              0           0            0
34                0              0           2            0
79               29              0           3            0
...             ...            ...         ...          ...
65214            13              0          25            0
65215           194              3         694            0
65216           165              9         464           11
65217             0              0           0            0
65218           429             43        1500            0

[23065 rows x 4 columns]

In [247]:
data3_join1 = data3_rm[['restaurant_item_name', 'restaurant','food_category','kids_meal','limited_time_offer','shareable','regional']]

In [257]:
data3_join1

,restaurant_item_name,restaurant,food_category,kids_meal,limited_time_offer,shareable,regional
4,7 Eleven Coca-Cola Slurpee,7 Eleven,Beverages,0,0,0,0
10,7 Eleven Wild Cherry Slurpee,7 Eleven,Beverages,0,0,0,0
18,"Applebee's Caffeine Free Coca Cola, 16 oz",Applebee's,Beverages,0,0,0,0
34,"Applebee's Caffeine Free Diet Coke, 16 oz",Applebee's,Beverages,0,0,0,0
79,7 Eleven Cotton Candy Slurpee,7 Eleven,Beverages,0,0,0,0
...,...,...,...,...,...,...,...
65214,Zaxby's Roma Tomatoes,Zaxby's,Toppings & Ingredients,0,0,0,0
65215,Zaxby's Sweet & Spicy Glaze,Zaxby's,Toppings & Ingredients,0,0,0,0
65216,"Zaxby's The Cobb Salad, Fried",Zaxby's,Salads,0,0,0,0
65217,"Zaxby's Tomato, 2 Slices",Zaxby's,Toppings & Ingredients,0,0,0,0
65218,"Zaxby's Zax Sauce, Kidz",Zaxby's,Toppings & Ingredients,1,0,0,0

In [264]:
data3_imputation_2.reset_index(drop=True, inplace=True)
data3_join1.reset_index(drop=True, inplace=True)

In [270]:
data3_fin = pd.concat([data3_join1, data3_af_imputed, data3_imputation_2], axis=1)

In [271]:
data3_fin

,restaurant_item_name,restaurant,food_category,kids_meal,limited_time_offer,shareable,regional,carbohydrates_100g,dietary_fiber_100g,calories_100g,total_fat_100g,sodium_100g,protein_100g
0,7 Eleven Coca-Cola Slurpee,7 Eleven,Beverages,0,0,0,0,8.0,0.0,29,0,3,0
1,7 Eleven Wild Cherry Slurpee,7 Eleven,Beverages,0,0,0,0,8.0,0.0,29,0,3,0
2,"Applebee's Caffeine Free Coca Cola, 16 oz",Applebee's,Beverages,0,0,0,0,6.0,0.0,22,0,0,0
3,"Applebee's Caffeine Free Diet Coke, 16 oz",Applebee's,Beverages,0,0,0,0,0.0,0.0,0,0,2,0
4,7 Eleven Cotton Candy Slurpee,7 Eleven,Beverages,0,0,0,0,7.0,0.0,29,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23060,Zaxby's Roma Tomatoes,Zaxby's,Toppings & Ingredients,0,0,0,0,3.0,0.0,13,0,25,0
23061,Zaxby's Sweet & Spicy Glaze,Zaxby's,Toppings & Ingredients,0,0,0,0,44.0,0.0,194,3,694,0
23062,"Zaxby's The Cobb Salad, Fried",Zaxby's,Salads,0,0,0,0,9.0,1.0,165,9,464,11
23063,"Zaxby's Tomato, 2 Slices",Zaxby's,Toppings & Ingredients,0,0,0,0,4.0,0.0,0,0,0,0
23064,"Zaxby's Zax Sauce, Kidz",Zaxby's,Toppings & Ingredients,1,0,0,0,14.0,0.0,429,43,1500,0

In [273]:
data3_fin.isnull().sum()

restaurant_item_name    0
restaurant              0
food_category           0
kids_meal               0
limited_time_offer      0
shareable               0
regional                0
carbohydrates_100g      0
dietary_fiber_100g      0
calories_100g           0
total_fat_100g          0
sodium_100g             0
protein_100g            0
dtype: int64

In [90]:
#data3_final.to_csv(r'R:\ade.csv', index=False)

In [282]:
#sampleDF = sampleDF.replace(to_replace = ['yes','no'],value = ['1','0'])

In [284]:
sampleDF = data3_fin[['kids_meal','limited_time_offer','shareable','regional']]

In [285]:
sampleDF

      kids_meal limited_time_offer shareable regional
0             0                  0         0        0
1             0                  0         0        0
2             0                  0         0        0
3             0                  0         0        0
4             0                  0         0        0
...         ...                ...       ...      ...
23060         0                  0         0        0
23061         0                  0         0        0
23062         0                  0         0        0
23063         0                  0         0        0
23064         1                  0         0        0

[23065 rows x 4 columns]

In [286]:
sampleDF = sampleDF.replace(to_replace = ['0','1'],value = ['Yes','No'])

In [287]:
sampleDF

      kids_meal limited_time_offer shareable regional
0           Yes                Yes       Yes      Yes
1           Yes                Yes       Yes      Yes
2           Yes                Yes       Yes      Yes
3           Yes                Yes       Yes      Yes
4           Yes                Yes       Yes      Yes
...         ...                ...       ...      ...
23060       Yes                Yes       Yes      Yes
23061       Yes                Yes       Yes      Yes
23062       Yes                Yes       Yes      Yes
23063       Yes                Yes       Yes      Yes
23064        No                Yes       Yes      Yes

[23065 rows x 4 columns]

In [288]:
data3_fin

,restaurant_item_name,restaurant,food_category,kids_meal,limited_time_offer,shareable,regional,carbohydrates_100g,dietary_fiber_100g,calories_100g,total_fat_100g,sodium_100g,protein_100g
0,7 Eleven Coca-Cola Slurpee,7 Eleven,Beverages,0,0,0,0,8.0,0.0,29,0,3,0
1,7 Eleven Wild Cherry Slurpee,7 Eleven,Beverages,0,0,0,0,8.0,0.0,29,0,3,0
2,"Applebee's Caffeine Free Coca Cola, 16 oz",Applebee's,Beverages,0,0,0,0,6.0,0.0,22,0,0,0
3,"Applebee's Caffeine Free Diet Coke, 16 oz",Applebee's,Beverages,0,0,0,0,0.0,0.0,0,0,2,0
4,7 Eleven Cotton Candy Slurpee,7 Eleven,Beverages,0,0,0,0,7.0,0.0,29,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23060,Zaxby's Roma Tomatoes,Zaxby's,Toppings & Ingredients,0,0,0,0,3.0,0.0,13,0,25,0
23061,Zaxby's Sweet & Spicy Glaze,Zaxby's,Toppings & Ingredients,0,0,0,0,44.0,0.0,194,3,694,0
23062,"Zaxby's The Cobb Salad, Fried",Zaxby's,Salads,0,0,0,0,9.0,1.0,165,9,464,11
23063,"Zaxby's Tomato, 2 Slices",Zaxby's,Toppings & Ingredients,0,0,0,0,4.0,0.0,0,0,0,0
23064,"Zaxby's Zax Sauce, Kidz",Zaxby's,Toppings & Ingredients,1,0,0,0,14.0,0.0,429,43,1500,0

In [290]:
data3_fin.drop(columns=['kids_meal', 'limited_time_offer','shareable','regional'],inplace=True)

In [291]:
data3_fin

,restaurant_item_name,restaurant,food_category,carbohydrates_100g,dietary_fiber_100g,calories_100g,total_fat_100g,sodium_100g,protein_100g
0,7 Eleven Coca-Cola Slurpee,7 Eleven,Beverages,8.0,0.0,29,0,3,0
1,7 Eleven Wild Cherry Slurpee,7 Eleven,Beverages,8.0,0.0,29,0,3,0
2,"Applebee's Caffeine Free Coca Cola, 16 oz",Applebee's,Beverages,6.0,0.0,22,0,0,0
3,"Applebee's Caffeine Free Diet Coke, 16 oz",Applebee's,Beverages,0.0,0.0,0,0,2,0
4,7 Eleven Cotton Candy Slurpee,7 Eleven,Beverages,7.0,0.0,29,0,3,0
...,...,...,...,...,...,...,...,...,...
23060,Zaxby's Roma Tomatoes,Zaxby's,Toppings & Ingredients,3.0,0.0,13,0,25,0
23061,Zaxby's Sweet & Spicy Glaze,Zaxby's,Toppings & Ingredients,44.0,0.0,194,3,694,0
23062,"Zaxby's The Cobb Salad, Fried",Zaxby's,Salads,9.0,1.0,165,9,464,11
23063,"Zaxby's Tomato, 2 Slices",Zaxby's,Toppings & Ingredients,4.0,0.0,0,0,0,0
23064,"Zaxby's Zax Sauce, Kidz",Zaxby's,Toppings & Ingredients,14.0,0.0,429,43,1500,0

In [292]:
data3_final = pd.concat([data3_fin, sampleDF], axis=1)

In [293]:
data3_final

,restaurant_item_name,restaurant,food_category,carbohydrates_100g,dietary_fiber_100g,calories_100g,total_fat_100g,sodium_100g,protein_100g,kids_meal,limited_time_offer,shareable,regional
0,7 Eleven Coca-Cola Slurpee,7 Eleven,Beverages,8.0,0.0,29,0,3,0,Yes,Yes,Yes,Yes
1,7 Eleven Wild Cherry Slurpee,7 Eleven,Beverages,8.0,0.0,29,0,3,0,Yes,Yes,Yes,Yes
2,"Applebee's Caffeine Free Coca Cola, 16 oz",Applebee's,Beverages,6.0,0.0,22,0,0,0,Yes,Yes,Yes,Yes
3,"Applebee's Caffeine Free Diet Coke, 16 oz",Applebee's,Beverages,0.0,0.0,0,0,2,0,Yes,Yes,Yes,Yes
4,7 Eleven Cotton Candy Slurpee,7 Eleven,Beverages,7.0,0.0,29,0,3,0,Yes,Yes,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23060,Zaxby's Roma Tomatoes,Zaxby's,Toppings & Ingredients,3.0,0.0,13,0,25,0,Yes,Yes,Yes,Yes
23061,Zaxby's Sweet & Spicy Glaze,Zaxby's,Toppings & Ingredients,44.0,0.0,194,3,694,0,Yes,Yes,Yes,Yes
23062,"Zaxby's The Cobb Salad, Fried",Zaxby's,Salads,9.0,1.0,165,9,464,11,Yes,Yes,Yes,Yes
23063,"Zaxby's Tomato, 2 Slices",Zaxby's,Toppings & Ingredients,4.0,0.0,0,0,0,0,Yes,Yes,Yes,Yes
23064,"Zaxby's Zax Sauce, Kidz",Zaxby's,Toppings & Ingredients,14.0,0.0,429,43,1500,0,No,Yes,Yes,Yes

In [296]:
# data3_final.to_csv(r'R:\project\3new.csv', index=False)

In [294]:
# push transformed data 2 to relational database (PostgreSQL)
from sqlalchemy import create_engine
import psycopg2

In [295]:
# alchemyEngine           = create_engine('postgresql+psycopg2://postgres:rinubronic@dap-cluster.c2wpf9zggzmf.eu-west-1.rds.amazonaws.com:5432/Hotel_database', pool_recycle=3600);
# postgreSQLConnection    = alchemyEngine.connect();

# postgreSQLTable         = "data_3";



# try:
#     frame= data3_final.to_sql(postgreSQLTable, postgreSQLConnection, if_exists='fail');

# except ValueError as vx:

#     print(vx)

# except Exception as ex:  

#     print(ex)

# else:

#     print("PostgreSQL Table %s has been created successfully."%postgreSQLTable);

# finally:
#     postgreSQLConnection.close();

PostgreSQL Table data_3 has been created successfully.